* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

@font-face {
  font-display: block;
  font-family: "San Francisco";
  src: url("/fonts/SF-Pro-Text-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-display: block;
  font-family: "San Francisco";
  src: url("/fonts/SF-Pro-Text-RegularItalic.otf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-display: block;
  font-family: "San Francisco";
  src: url("/fonts/SF-Pro-Text-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-display: block;
  font-family: "San Francisco";
  src: url("/fonts/SF-Pro-Text-Semibold.otf");
  font-weight: 600;
}
@font-face {
  font-display: block;
  font-family: "San Francisco";
  src: url("/fonts/SF-Pro-Text-Bold.otf");
  font-weight: 700;
}
body {
  font-family: "San Francisco", "Helvetica", "Arial", "sans-serif";
}

.button {
  border-radius: 40px;
  padding: 14px 16px;
  background-color: #01687F;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
}
.button img, .button svg {
  vertical-align: top;
  margin-right: 0.625rem;
}
.button--orange {
  background-color: #F45700;
}
.button--white {
  background-color: #ffffff;
  color: #01687F;
}

main {
  flex-grow: 1;
  position: relative;
}

nav {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav p {
  color: #072B4F;
}

#stream {
  width: 100%;
  height: 100%;
}

#overlay-scan {
  padding: 1rem;
  position: absolute;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7161239496) 0%, rgba(0, 212, 255, 0) 100%);
  height: 100%;
  display: flex;
  flex-direction: column;
}
#overlay-scan h1 {
  font-size: 1.25rem;
  color: #ffffff;
  font-weight: 500;
}
#overlay-scan #cadre {
  width: 100%;
  height: 50%;
  border: solid 2px #ffffff;
  margin-top: 25%;
  border-radius: 0.5rem;
  position: relative;
}
#overlay-scan #cadre #photo-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  border-radius: 65px;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
